/* Estilos para la sección de información del menú */
#menu_id {
    display: inline-block;
    font-weight: bold;
    font-size: 1.1em;
    margin: 0.5rem;
    color: #333;
}

/* Estilos para las opciones del menú */
#opciones_menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));;
    align-items: stretch;
    gap: 20px;
    padding: 20px 0;
}

section
{
    padding: 2rem;
    text-align: center;
}

#fecha_consumo,
#fecha_cierre {
    display: block;
    font-size: 2em;
    color: #555;
    margin: 5px 0;
}

#alerta-menu-cerrado
{
    display: none;
    color: white;
    padding: 1rem;
    width: 30%;
    margin: auto;
    border-radius: 10px;
    background-color: red;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}