body
{
    background-color: #EBEBEB;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menues_semana {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    padding: 2vw;
    width: 90%;
    margin: auto;
    box-sizing: border-box;
}

#menu_title
{
    width: 90%;
    text-align: center;
    padding: 1em;
    margin: auto;
}

hr
{
    height: 0.1rem;
    background-color: black;
}